{
  "name": "nebulaboard",
  "version": "1.0.0",
  "description": "Fórum minimalista com Node.js, MongoDB e interface responsiva.",
  "main": "backend/server.js",
  "type": "module",
  "scripts": {
    "start": "node backend/server.js",
    "dev": "nodemon backend/server.js"
  },
  "dependencies": {
    "cors": "^2.8.5",
    "dotenv": "^16.4.5",
    "express": "^4.19.2",
    "mongoose": "^8.3.5"
  },
  "devDependencies": {
    "nodemon": "^3.1.0"
  }
}
